# Core functionality - changes here should be rare!
/src/app.py                   @oycyc
/src/backend/database.py      @oycyc
/src/backend/routers/auth.py  @oycyc

# The frontend will need refactored soon to be more object oriented.
/src/static/   @oycyc
